<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIT - RELATÓRIOS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
     <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
<body>
    <link rel="stylesheet" href="css/relatorios.css">

    <header>
        <img src="img/faixa.png" alt="faixa colorida" id="faixa">
        <img src="img/logo-sit.png" alt="logo Barueri" id="logo-sit">
    </header>



    <button id="botao-add"><a href="/adicionar">+</a></button>


    <main>

      
        <!---
        <section id="relatorios_1">
            <button class= "botao-dash"><a href="https://fiebedu.sharepoint.com/:x:/s/2025-1_BELVAL_INI3AM/EQOulpY3Vq9Kp27VVhcS5dUBL6cfH45kYJ8cH2lrodzomg?e=kzMJ4I">Relatório Power BI</a></a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            
        </section>

        <section id="relatorios_2">
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            
        </section>

        <section id="relatorios_3">
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            <button class= "botao-dash"><a href="">Relatório Power BI</a></button>
            
        -->

        <table>
             <caption>Central de Relatórios</caption>
            <thead>
                <th id="link">Link</th>
                <th>Data de Publicação</th>
                <th>Editar</th>
                <th>Excluir</th>
            </thead>
            <tbody>
                <% if (link && link.length > 0) { link.forEach(function(relatorio) { %>
                <tr>
                    <td class="link">
                        <a href="<%= relatorio.link_relatorio %>" target="_blank"><%= relatorio.link_relatorio %></a>
                    </td>
                    <td>
                        <%= moment(relatorio.data_publicacao_relatorio).format('DD/MM/YYYY') %>
                    </td>
                    <td>
                        <button onclick="window.location='/editar?id=<%= relatorio.id %>'" class="edit">
        <span class="material-symbols-outlined">edit</span>
    </button>
                    </td>
                    <td>
                        <button onclick="window.location='/excluir?id=<%= relatorio.id %>'" class="delete">
        <span class="material-symbols-outlined">delete</span>
    </button>
                    </td>
                </tr>
                <% }); } else { %>
                <tr><td colspan="4" id="sem_relatorios">Nenhum relatório cadastrado.</td></tr>
                <% } %>
            </tbody>
        </table>
     
   
    </main>


    
    
</body>
</html>